.tree-div {
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100vh;
  margin: 0px 25px;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 128px;
  text-transform: uppercase;
  color: #fd5a46;
  text-shadow: 3px 4px #040f0f;
  -webkit-text-stroke: 2px #040f0f;
  margin: 10px auto;
  text-align: center;
}

.tree-container {
  max-width: fit-content;
  min-width: 95%;
  border: 2px solid #040f0f;
  min-height: 25rem;
  margin: 10px;
  background-color: #00995e;
  border-radius: 15px;
  box-shadow: 3px 4px #040f0f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* row-gap: 5px; */
  padding: 10px 20px;
}
