.blue-btn {
  width: 225px;
  padding: 15px 0px;
  background-color: #058cd7;
  color: #040f0f;
  font-weight: bold;
  font-size: 36px;
  border: 2px solid #040f0f;
  border-radius: 15px;
  box-shadow: 3px 4px #040f0f;
  transition: 0.3s ease-in-out;
}

.blue-btn:hover {
  border: 2px solid #040f0f;
  box-shadow: none;
  translate: 3px 4px;
}

.blue-btn:active {
  border: 2px solid #040f0f;
  outline: none;
  box-shadow: none;
}
